body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header {
    color: blue;
    padding: 1rem;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #eee;
    border-radius: 5px;
  }

  .icons{
    color: blue;
  }

  
  .todo-form {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 5px;
    justify-content: space-between;
  }

  .add-todo{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    
  }
  
  .add-todo-btn {
    background-color: blue;
    padding: 0.5rem;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;

  }
  
  
  .filter-sort {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

    .filter-sort div {
        margin-right: 1rem;  
    }

    .filter-sort select {
        padding: 0.5rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        background-color: #fff;
    }

    .filter-label {
        font-weight:100; 
        font-size: 13px;  
    }

  
  .todo-list {
    margin: 0;
    padding: 0;
  }
  
  .todo-list li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #ccc;
  }

  .todo div:nth-last-child(2) {
    padding-left: 0.8rem;
  }


.checkbox {
    width: 20px; 
    height: 20px;
   
  }

  .todo-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    visibility: hidden !important;
  }

  .todo-item:hover .todo-actions {
    visibility: visible !important;
}

  .date-label {
    display: none;
    font-size: 12px;
    color: #888;
  }
  .todo-item:hover .date-label {
    display: inline;
  }
  


@media screen and (max-width: 600px) {
    .container {
      padding: 0.5rem;
    }
  
    .todo-form {
      padding: 0.5rem;
    }
  
    .add-todo-btn {
      padding: 0.3rem;
    }
  
    .filter-sort {
      margin-bottom: 0.5rem;
    }
  
    .filter-sort div {
      margin-right: 0.5rem;
    }
  
    .filter-sort select {
      padding: 0.3rem;
    }
  
    .todo-list li {
      padding: 0.3rem;
    }

    .todo div:last-child {  
        padding-left: 5rem;  
    }

    .checkbox {
        width: 15px; 
        height: 15px;
    }

    .todo-actions {
        gap: 5px; 
    }

    .date-label {
        font-size: 10px;
    }

    

  }
 
  